* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {

    --Grey-950: #1D2026;
    --Grey-500: #69707D;
    --Grey-300: #C3CAD9;
    --Grey-100: #E4E9F2;
    --Grey-50: #F6F8FD;

    --Orange-500: #FF7E1B;
    --Orange-300: #FFAB6A;
}


.text-preset1-bold {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 0px;
    font-weight: 700;
}

.text-preset2-bold {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 700;
}

.text-preset3-bold {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 700;
}

.text-preset3-regular {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
}

.text-preset4-regular {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
}

.text-preset5-bold {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 700;
}

.text-preset6-bold {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.85px;
    font-weight: 700;
}




body {
    font-family: "Kumbh Sans", sans-serif;
    padding: 1rem 8rem;

}



/*Navbar*/

.navbar {
    background-color: white;
    border-bottom: 1px solid #eaeaea;


}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    width: 100%;
    margin: 0 auto;
    gap: clamp(0.5rem, 2vw, 5rem);

}

.logo-and-links {
    display: flex;
    gap: clamp(0.5rem, 4vw, 5rem);

}


.left-section {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}


.menu-toggle {

    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.menu-toggle img {
    width: 16px;
    height: 15px;
}

.logo {
    height: 20px;
}

.nav-links {
    display: flex;
    gap: clamp(0.5rem, 1.5vw, 2.5rem);


}

.nav-links a {
    text-decoration: none;
    color: var(--Grey-500);
    font-weight: 500;
    transition: color 0.3s;

}

.nav-links a:hover {
    color: orange;
    /* border-bottom: 4px solid var(--Orange-300); */

}


.right-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cart-icon {
    height: 20px;
    cursor: pointer;
    background: none;
    border: none;


}

.cart-icon:hover {
    filter: brightness(0);
    transition: filter 0.3s;

}

.cart-and-badge {
    position: relative;
}

.badge {
    width: 19px;
    height: 13px;
    background-color: var(--Orange-500) !important;
    color: white !important;
    font-size: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 1px;
    left: 11px;
    display: none;

}

.avatar-icon {
    height: 50px;
    cursor: pointer;

}


/*Cart dropdown styling*/

.cart-dropdown {
    position: absolute;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    top: 85px;
    width: 360px;

    right: 0.5rem;

    padding: 24px 0;
    border-radius: 10px;
    visibility: hidden;
    z-index: 20;

    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.cart-dropdown.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
}

.cart-dropdown h4 {
    margin-left: 12px;
}

.cart-dropdown hr {
    width: 100%;
    color: var(--Grey-500);
}

.cart-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;


}

.cart-content p {
    color: var(--Grey-500);

}

.empty-cart-text {
    font-weight: 700;
}

.cart-content img {
    width: 50px;
    height: 50px;
    border-radius: 4px;

}

.ordered-div {
    display: flex;
    gap: 16px;

}

.ordered-text {
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.item-name {
    margin-bottom: 0;
}

.cart-calculation {
    display: flex;
    gap: 16px;
}

.cart-calculation span {
    font-weight: 700;
}

.delete-icon img {
    width: 14px;
    height: 16px;
    margin-top: 10px;
}

.checkoutBtn {

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--Orange-500);
    border-radius: 10px;
    height: 56px;
    font-weight: 700;
    margin-top: 10px;

}

.checkoutBtn:hover {
    background-color: var(--Orange-300);
}




hr {
    margin-top: 0;
}



main {
    display: flex;
    gap: clamp(32px, 5vw, 148px);
    max-width: 100%;
    padding-top: 4rem !important;

}

.product {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.tablet-display {
    display: none;
}


.main-image {
    display: flex;
}

.main-image img {
    max-width: 448px;

    border-radius: 15px;

}


.small-images {
    display: flex;
    width: 448px;
    justify-content: space-between;
}

.small-images img {
    width: 88px;

    border-radius: 15px;
}

.thumbnail-wrapper {
    cursor: pointer;
    border: 2px solid transparent;
    box-sizing: border-box;

}

.thumbnail-wrapper.selected {
    border: 2px solid var(--Orange-500);
    border-radius: 18px;
}

.first-thumbnail {
    opacity: 0.3;
}





.info-card {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
}

.info-card .title {
    color: var(--Grey-500);
}

.info-text {
    margin: 32px auto;
}

.price-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

.price {
    display: flex;
    gap: 16px;
}

.discount {
    background-color: var(--Grey-950);
    display: inline-block;
    color: white;
    font-size: 16px;
    width: 51px;
    /* height: 27px; */
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;


}

.last-price {
    text-decoration: line-through;
    color: var(--Grey-500);

}


.quantity-and-add-div {
    display: flex;
    justify-content: space-between;
}


.quantity-box {
    width: 157px;
    background-color: var(--Grey-50);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    border-radius: 10px;
}

.quantity {
    font-weight: 700;
}

button:focus {
    outline: 2px solid orange;
    outline-offset: 2px;
}

.add-to-cart {
    width: 272px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--Orange-500);
    border-radius: 10px;

}

.add-to-cart:hover {
    background-color: var(--Orange-300);
}

.add-to-cart p {
    margin-top: auto;
    margin-bottom: auto;
}

/* Overlay  */

.overlay {
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center !important;
    align-items: center !important;
    overflow-y: auto;
    /* Alow the overlay to be scrolable */
    display: none;
    /* Keep hidden by default */





}

/* Lightbox carousel customizing */


#lightbox-carousel {
    width: 40%;
    max-width: 650px;
}


.carousel-inner {
    border-radius: 15px;
}

.lightbox-thumb-indicators button.lightbox-thumbnail {
    width: 88px;

}



.lightbox-thumb-indicators {
    /* Indicators already have position set to absolute, and this sets them just under the main picture */
    top: 103%;
    gap: 15px;

}

.carousel-indicators .lightbox-thumbnail {
    background: none !important;
}

.lightbox-thumbnail img {
    border-radius: 0.5rem;

}

.lightbox-image-wrapper {
    position: relative;
}


.close-lightbox {
    /* width: 20px;
    height: 20px;
    position: absolute;
    top: -40px;
    right: 0px;
    z-index: 20;

    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; */

    width: 16px;
    height: 16px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 20;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.close-lightbox:hover {
    transform: scale(1.1);


}


.close-lightbox img {
    width: 18px;
    height: 18px;
    filter: brightness(0) invert(1);
    /* brightness(0) makes the image black
invert(1) flips black to white */
}



@media (max-width: 1250px) {
    #lightbox-carousel {
        width: 52%;
    }
}



@media (max-width: 1050px) {

    .container,
    main {
        padding: 1 0rem !important;
    }

    .product {
        padding-top: 1rem;
        gap: 20px;
    }

    .main-image img {
        max-width: 100%;
    }

    .small-images {
        width: 100%;

    }

    .small-images img {
        max-width: 75px !important;

    }

    .info-card h1 {
        margin-bottom: 0px;
    }

    .info-card .info-text {
        margin-top: 10px;
    }

    .price-section {
        margin-top: -14px;
        margin-bottom: 20px;
    }

    .add-to-cart,
    .quantity-box {
        width: 100%;
    }

}


@media (max-width: 1000px) {



    .small-images img {
        max-width: 70px !important;

    }

    .product {
        gap: 15px;
    }

    .info-card {
        padding-top: 1rem;
    }

    .info-card h1 {
        font-size: 40px;
        line-height: 1;
    }

}




@media (max-width: 865px) {
    .menu-toggle {
        display: block;
        z-index: 15;
    }

    .nav-links {
        position: absolute;
        top: -14px;
        left: -65px;
        width: 60%;
        height: 100vh;
        background: white;
        flex-direction: column;
        align-items: flex-start;
        padding: 7rem 6rem;
        gap: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 10;
        display: none;
    }

    .nav-links.show {
        display: flex;
    }

    body {
        padding: 1rem 2rem;
    }

}








@media (max-width: 800px) {

    .container {
        padding: 1rem 0 !important;
    }

    main {
        flex-direction: column;
        gap: 14px;
        padding: 1rem !important;

    }

    .overlay {
        display: none !important;
    }

    .tablet-display {
        display: block;
    }

    .product {
        display: none;
    }


    .info-card {
        padding-top: 2rem;
    }

    .info-card h1 {
        font-size: 44px;
    }

    /*Customize the height of carousel*/

    #tabletCarousel {
        aspect-ratio: 16 / 9;
        width: 100%;

    }

    #tabletCarousel .carousel-inner,
    #tabletCarousel .carousel-item,
    #tabletCarousel img {
        height: 100%;
    }

    #tabletCarousel img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        border-radius: 10px;

    }

    #tabletCarousel .carousel-item .first-image {
        object-position: center center;
    }


    /* Container for custom arrows */

    .custom-arrow-wrapper {
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Arrow image inside the circle */

    .custom-arrow-wrapper img {
        width: 10px !important;
        height: 19px !important;

    }





}






@media (max-width: 460px) {

    body {
        padding: 1rem 0;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .avatar-icon {
        height: 24px;

    }

    .cart-dropdown {
        width: 300px;
        display: flex;
        margin: 0 auto !important;

    }

    .item-name {
        font-size: 10px;
    }

    hr {
        display: none;
    }

    #tabletCarousel {
        margin-top: -15px;

    }

    #tabletCarousel img {
        border-radius: 0px;

    }

    .carousel-inner {
        border-radius: 0px;
    }


    main {}

    .product {}

    .info-card {
        padding: 0 1rem;
    }

    .info-card .title {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1.85px;

    }

    .info-card h1 {
        font-size: 28px !important;
        line-height: 32px !important;
    }

    .quantity-and-add-div {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }



}